<?xml version="1.0" encoding="gbk" ?>     
	<!DOCTYPE mapper     
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"     
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.rc.db.dao.CurrentUserDao">

	<cache/>

	<insert id="insert">
		INSERT INTO current_user(username,skey,sid,uin,passTicket,sex,nickName,signature,remarkName,headImgUrl)
		VALUES (#{username},#{skey},#{sid},#{uin},#{passTicket},#{sex},#{nickName},#{signature},#{remarkName},#{headImgUrl})
	</insert>


	<select id="findById" resultType="CurrentUser">
		SELECT * FROM current_user where username = #{username}
	</select>

	<select id="findAll" resultType="CurrentUser">
		SELECT * FROM current_user
	</select>

    <select id="find" resultType="CurrentUser" statementType="STATEMENT" parameterType="map">
        SELECT * FROM current_user where ${field} = ${val}
    </select>

	<select id="count" resultType="java.lang.Integer">
		SELECT count(1) FROM current_user
	</select>

	<select id="exist" resultType="java.lang.Integer">
		SELECT count(1) FROM current_user where username = #{username}
	</select>

	<delete id="deleteAll">
		delete from current_user
	</delete>

	<update id="update">
		UPDATE current_user
		<set>
			username=#{username},
			skey=#{skey},
			sid=#{sid},
			uin=#{uin},
			passTicket=#{passTicket},
			sex=#{sex},
			nickName=#{nickName},
			signature=#{signature},
			remarkName=#{remarkName},
			headImgUrl=#{headImgUrl},
		</set>
		WHERE username=#{username}
	</update>

	<update id="updateIgnoreNull">
		UPDATE current_user
		<set>
			<if test="username!= null">username=#{username},</if>
			<if test="skey!= null">skey=#{skey},</if>
			<if test="sid!= null">sid=#{sid},</if>
			<if test="uin!= null">uin=#{uin},</if>
			<if test="passTicket!= null">passTicket=#{passTicket},</if>
			<if test="sex!= null">sex=#{sex},</if>
			<if test="nickName!= null">nickName=#{nickName},</if>
			<if test="signature!= null">signature=#{signature},</if>
			<if test="remarkName!= null">remarkName=#{remarkName},</if>
			<if test="headImgUrl!= null">headImgUrl=#{headImgUrl},</if>
		</set>
		WHERE username=#{username}
	</update>
</mapper>









