<?xml version="1.0" encoding="gbk" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.rc.db.dao.RoomDao">

    <cache/>

    <insert id="insert">
		INSERT INTO room
		(
            username,
            `type`,
            nickname,
            memberCount,
            msgSum,
            lastChatAt,
            unreadCount,
            totalReadCount,
            lastMessage,
            headImgUrl,
            signature,
            remarkName,
            city,
            province,
            sex,
            attrStatus,
            contactFlag,
            snsFlag
		)
		VALUES
		(
            #{username},
            #{type},
            #{nickname},
            #{memberCount},
            #{msgSum},
            #{lastChatAt},
            #{unreadCount},
            #{totalReadCount},
            #{lastMessage},
            #{headImgUrl},
            #{signature},
            #{remarkName},
            #{city},
            #{province},
            #{sex},
            #{attrStatus},
            #{contactFlag},
            #{snsFlag}
		)
	</insert>


    <select id="findById" resultType="Room">
		SELECT * FROM room where username = #{username} limit 1
	</select>

    <select id="findRelativeusernameByUserId" resultType="Room" statementType="STATEMENT" parameterType="map">
        SELECT * FROM room where username like ${condition}
    </select>

    <select id="searchByName" resultType="Room" statementType="STATEMENT" parameterType="map">
        SELECT * FROM room where nickname like ${condition}
    </select>

    <select id="findAll" resultType="Room">
		SELECT * FROM room ORDER BY lastChatAt DESC
	</select>

    <select id="find" resultType="Room" statementType="STATEMENT" parameterType="map">
        SELECT * FROM room where ${field} = ${val}
    </select>

    <select id="count" resultType="java.lang.Integer">
		SELECT count(1) FROM room
	</select>

    <select id="totalUnreadCount" resultType="java.lang.Integer">
        SELECT SUM (unreadCount) FROM room
    </select>


    <select id="exist" resultType="java.lang.Integer">
		SELECT count(1) FROM room where username = #{id}
	</select>

    <delete id="delete">
        delete from room where username = #{id}
    </delete>

    <delete id="deleteAll">
		delete from room
	</delete>

    <update id="update">
        UPDATE room
        <set>
          username=#{username},
          type=#{type},
          nickname=#{nickname},
          memberCount=#{memberCount},
          msgSum=#{msgSum},
          lastChatAt=#{lastChatAt},
          unreadCount=#{unreadCount},
          totalReadCount=#{totalReadCount},
          lastMessage=#{lastMessage},
          headImgUrl=#{headImgUrl},
          signature=#{signature},
          remarkName=#{remarkName},
          city=#{city},
          province=#{province},
          sex=#{sex},
          attrStatus=#{attrStatus},
          contactFlag=#{contactFlag},
          snsFlag=#{snsFlag},
        </set>
        WHERE username=#{username}
    </update>

    <update id="updateIgnoreNull">
        UPDATE room
        <set>


            <if test="username != null">username=#{username},</if>
            <if test="type != null">type=#{type},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="memberCount != null">memberCount=#{memberCount},</if>
            <if test="msgSum != null">msgSum=#{msgSum},</if>
            <if test="lastChatAt != null">lastChatAt=#{lastChatAt},</if>
            <if test="unreadCount != null">unreadCount=#{unreadCount},</if>
            <if test="totalReadCount != null">totalReadCount=#{totalReadCount},</if>
            <if test="lastMessage != null">lastMessage=#{lastMessage},</if>
            <if test="headImgUrl != null">headImgUrl=#{headImgUrl},</if>
            <if test="signature != null">signature=#{signature},</if>
            <if test="remarkName != null">remarkName=#{remarkName},</if>
            <if test="city != null">city=#{city},</if>
            <if test="province != null">province=#{province},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="attrStatus != null">attrStatus=#{attrStatus},</if>
            <if test="contactFlag != null">contactFlag=#{contactFlag},</if>
            <if test="snsFlag != null">snsFlag=#{snsFlag},</if>
        </set>
        WHERE username=#{username}
    </update>
</mapper>









