<?xml version="1.0" encoding="gbk" ?>     
	<!DOCTYPE mapper     
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"     
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.rc.db.dao.TableDao">
	<update id="createCurrentUserTable">
		CREATE TABLE current_user (
		username        VARCHAR( 100 )   PRIMARY KEY,
		skey            VARCHAR( 32 ),
		sid             VARCHAR( 32 ),
		uin             VARCHAR( 32 ),
		passTicket      VARCHAR( 100 ),
		sex             INT,
		nickName        VARCHAR( 100 ),
		signature       VARCHAR( 512 ),
		remarkName      VARCHAR( 32 ),
		headImgUrl      VARCHAR( 1024 ),
		wxLoadTime      VARCHAR( 32 ),
		mmLang          VARCHAR( 32 ),
		webwxDataTicket VARCHAR( 512 ),
		webwxuvid       VARCHAR( 512 ),
		webwxAuthTicket VARCHAR( 512 )
		)
	</update>

	<update id="createRoomTable">
		CREATE TABLE room (
		username       VARCHAR( 100 )   PRIMARY KEY,
		type           VARCHAR( 10 ),
		nickname       VARCHAR( 100 ),
		memberCount    INT,
		msgSum         INTEGER,
		lastChatAt     INTEGER,
		unreadCount    INTEGER,
		totalReadCount INTEGER,
		lastMessage    VARCHAR( 1024 ),
		headImgUrl     VARCHAR( 1024 ),
		signature      VARCHAR( 1024 ),
		remarkName     VARCHAR( 100 ),
		city           VARCHAR( 64 ),
		province       VARCHAR( 64 ),
		sex            INT,
		attrStatus     INT,
		contactFlag    INT,
		snsFlag        INT
		)
	</update>

	<update id="createMessageTable">
		create table message(
		id VARCHAR(20) PRIMARY KEY,
		roomId VARCHAR(20),
		messageContent TEXT,
		groupable BOOLEAN,
		timestamp INTEGER,
		senderUsername VARCHAR(64),
		senderId VARCHAR(20),
		updatedAt INTEGER,
		needToResend BOOLEAN,
		progress INTEGER,
		deleted BOOLEAN,
		systemMessage BOOLEAN,
		fileAttachmentId VARCHAR(20),
		imageAttachmentId VARCHAR(20));
	</update>

	<update id="createFileAttachmentTable">
		create table file_attachment(
		id VARCHAR(20) PRIMARY KEY,
		title VARCHAR(1024),
		link VARCHAR(10240),
		description VARCHAR(10240))
	</update>

	<update id="createImageAttachmentTable">
		create table image_attachment(
		id VARCHAR(20) PRIMARY KEY,
		title VARCHAR(1024),
		imageUrl VARCHAR(10240),
		description VARCHAR(10240),
		width INTEGER,
		height INTEGER,
		imagesize INTEGER)
	</update>


	<update id="createContactsTable">
		CREATE TABLE contacts (
		username        VARCHAR( 100 )   PRIMARY KEY,
		sex             INT,
		attrStatus      INT,
		contactFlag     INT,
		memberList      VARCHAR( 4000 ),
		headImgUrl      VARCHAR( 1024 ),
		memberCount     INT,
		city            VARCHAR( 64 ),
		nickName        VARCHAR( 100 ),
		province        VARCHAR( 64 ),
		snsFlag         INT,
		signature       VARCHAR( 512 ),
		remarkName      VARCHAR( 100 ),
		pYQuanPin       VARCHAR( 512 ),
		pYInitial       VARCHAR( 512 ),
		remarkPYQuanPin VARCHAR( 512 ),
		remarkPYInitial VARCHAR( 512 ),
		type            VARCHAR( 64 )
	)
	</update>

	<select id="tableExist" resultType="java.lang.Integer">
		select count(1) from sqlite_master where type = 'table' and name = #{name}
	</select>
</mapper>









